* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    line-height: 1.6;
  }
  h1 {
    padding: 0;
  }
  
  ul {
    list-style: none;
    display: flex;
  
    li {
      padding: 0 1.5rem;
    }
  }
  
  a {
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px transparent solid;
    padding-bottom: 0.25rem;
    transition: opacity 0.5s;
    color: black;
  
    &:hover {
      opacity: 0.5;
    }
  }