* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    line-height: 1.6;
  }
  h1 {
    padding: 0;
  }
  
  ul {
    list-style: none;
    display: flex;
  
    li {
      padding: 0 1.5rem;
    }
  }
  
  a {
    text-decoration: none;  
    &:hover {
      opacity: 0.5;
    }
  }

  input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #9CADB6 inset !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
  -webkit-text-fill-color: white !important;
}